
/** HEADER **/

.navbar-brand { /* company name */
  font-family: 'Oxygen', sans-serif;
  font-size: 1.6em;
  color: white;
  margin-left: 4vw;
}

.nav-link:hover, .nav-link:focus {
	text-decoration: underline;
	text-decoration-color: rgb(13, 202, 240);
	text-decoration-thickness: 5px;
	text-underline-offset: 0.5em;
}

.offcanvas-body { /*dropdown list*/
	color: white;;
 margin-left: 30pt;
	font-size: 1.2em;
}

.navbar-toggler { /*the button*/
	border: none;
	margin-left: auto;
}

.offcanvas { /*dropdown window*/
	background-color: #2ea2cc;
}

.btn-close {
	margin-left: auto;
}

.offcanvas-header {
	padding-bottom: 0px;
}

.offcanvas-body {
	padding-top: 0px;
}

.btn-primary {
	background-color: black;
	filter: contrast(80%);
	border: none;
}

.filter-white {
        filter: invert(100%) brightness(100%) contrast(90%);
}

/** jumbotron **/

#jumbotron {
	position:relative;
	padding-left: 0px;
	padding-right: 0px;
}

#family {
	width: 400px;
	height: 280px;
	border-radius: 20px;
	opacity: 0.6;
}

#jumboText {
	color: white;
}


.badge {
	background-color: darkblue;
}
/*@media (min-width: 768px) {
	.navbar-toggle {
		display: none;	
	}
}*/