
/** HEADER **/

.navbar-brand { /* company name */
  font-family: 'Oxygen', sans-serif;
  font-size: 1.3em;
  color: white;
  margin-left: 4vw;
}

.offcanvas-body { /*dropdown list*/
	color: white;;
 margin-left: 30pt;
	font-size: 1.3em;
}

.navbar-toggler { /*the button*/
	border: none;
	margin-left: auto;
}

.offcanvas { /*dropdown window*/
	background-color: #2ea2cc;
}

.btn-close {
	margin-left: auto;
}

.offcanvas-header {
	padding-bottom: 0px;
}

.offcanvas-body {
	padding-top: 0px;
}

.btn-primary {
	background-color: grey;
	text-color: white;
	border: none;
}

/*@media (min-width: 768px) {
	.navbar-toggle {
		display: none;	
	}
}*/