
/** HEADER **/

.navbar-brand { /* company name */
  font-family: 'Oxygen', sans-serif;
  font-size: 1.3em;
  color: white;
  margin-left: 4vw;
}

.offcanvas-body { /*dropdown list*/
	color: white;;
 margin-left: 30pt;
	font-size: 1.3em;
}

.navbar-toggler { /*the button*/
	border: none;
}

.offcanvas { /*dropdown window*/
	background-color: #2ea2cc;
}


/*@media (min-width: 768px) {
	.navbar-toggle {
		display: none;	
	}
}*/